<p-panel header="Método da Bissecção">

    <p-card>
        <p-header>
            Entradas
        </p-header>



        <h3 class="first">Intervalo</h3>

        <form #form="ngForm" action="">
            <div class="ui-g ui-fluid">
                <div class="ui-g-12 ui-md-4">
                    <div class="ui-inputgroup">
                        <span class="ui-inputgroup-addon"><i style="line-height: 1.25;">Inicio Intervalo</i></span>
                        <input [(ngModel)]="entrada.inicio_intervalo" name="inicio_intervalo" type="number" pInputText
                            placeholder="Inicio Intervalo">
                    </div>
                </div>

                <div class="ui-g-12 ui-md-4">
                    <div class="ui-inputgroup">

                        <span class="ui-inputgroup-addon"><i style="line-height: 1.25;">Fim Intervalo</i></span>
                        <input [(ngModel)]="entrada.fim_intervalo" name="fim_intervalo" type="number" pInputText
                            placeholder="Fim Intervalo">
                    </div>
                </div>


            </div>

            <h3 class="first">Entradas </h3>

            <div class="ui-g ui-fluid">
                <div class="ui-g-12 ui-md-4">
                    <div class="ui-inputgroup">
                        <span class="ui-inputgroup-addon"><i style="line-height: 1.25;">Chute</i></span>
                        <input type="text" pInputText placeholder="Chute" [(ngModel)]="entrada.chute_inicial"
                            name="chute_inicial" type="number">
                    </div>
                </div>

                <div class="ui-g-12 ui-md-4">
                    <div class="ui-inputgroup">
                        <span class="ui-inputgroup-addon"><i style="line-height: 1.25;">Função</i></span>
                        <input type="text" pInputText placeholder="Função" [(ngModel)]="entrada.funcao"
                            name="funcao" >
                    </div>
                </div>
            </div>
        </form>



    </p-card>

    <button (click)="submitForm()" pButton type="button" label="submitForm"></button>
    <!-- <p-button label="Click" ></p-button> -->

</p-panel>