
<p-panel header="Cálculo Numérico">

  <p-panel header="Desenvolvedor">
    Luan dos Santos Brandão.
  </p-panel>

  <p-panel header="Funcionalidades">
    <p>
      O sistema até o momento conta com os cálculos de Zero de Funções,
      com os métodos de:
    </p>
        <ul>
          <li>Bissecção</li>
          <li>Ponto Fixo</li>
          <li>NewTon</li>
          <li>Secante</li>
        </ul>
  </p-panel>

  <p-panel header="Como funciona">
    <p>
      O usuário pode digitar a função desejada seguindo o formato da programação,
      exemplo:
    </p>

    <p-panel header="Exemplo 1">
        <p>x^2 = pow(x,2)</p>
    </p-panel>

    <p>OBS: o grau de priopridade também se aplica,
       com isso uma mutiplicação/divição é executada antes da soma/subtração.
    </p>

  </p-panel>


</p-panel>
