
<p-panel header="Exemplos de Funções">

    <p-panel header="Ajuda">
      Segue como ficaria a entrada de algumas funções no sistema,
      como algumas funções da biblioteca Math usam a letra 'x', em minúsculo,
      use 'X' maiúsculo nas entradas, para evitar qualquer tipo de error.
    </p-panel>

    <p-panel header="Exemplo 1">
      <p style="display: flex; align-items: center; justify-content: center;   flex-wrap: wrap;">
          <img height="60px"  src="../../../../assets/exemplos-funcoes/f1.png" alt="">
          <span> = exp(-pow(X,2)) - cos(X)</span>
      </p>

      <p>
      </p>

    </p-panel>

    <p-panel header="Exemplo 2">
        <p style="display: flex; align-items: center; justify-content: center;   flex-wrap: wrap;">
          <img height="60px"  src="../../../../assets/exemplos-funcoes/f2.png" alt="">
          <span> =  pow(X,3) -X -1</span>
      </p>

      <p>
      </p>

    </p-panel>

    <p-panel header="Exemplo 3">
        <p style="display: flex; align-items: center; justify-content: center;   flex-wrap: wrap;">
          <img height="60px"  src="../../../../assets/exemplos-funcoes/f3.png" alt="">
          <span> = pow(X,3) -9X + 2</span>
      </p>

      <p>
      </p>

    </p-panel>




  </p-panel>
